body{
  background-image: url(backgroundimage.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  border-bottom: 1px solid #ccc;
  color: #3F51B5;
  padding-bottom: 8px
}
.pageBody{
  margin:auto;
  width:700px;
  text-align:center;
}
P{
  font-family: arial font-size:16pt;
  color:black;
  background-color: #D8BFD8;
}
p.important{
  background-color: #9370DB;
  color:black;
}
a:link{
  color:green;
}
a:visited{
  color:green;
}
a:hover{
  color:purple;
}
